<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.hr.dao.FeedbackHistoryDao" >

  <resultMap id="BaseResultMap" type="FeedbackHistory" >
	<result column="id" property="id" jdbcType="INTEGER" />
	<result column="interview_id" property="interviewId" jdbcType="INTEGER" />
	<result column="person_id" property="personId" jdbcType="INTEGER" />
	<result column="ms_type" property="msType" jdbcType="INTEGER" />
	<result column="ms_time" property="msTime" jdbcType="TIMESTAMP" />
	<result column="status" property="status" jdbcType="INTEGER" />
	<result column="notify_time" property="notifyTime" jdbcType="TIMESTAMP" />
	<result column="notify_end_time" property="notifyEndTime" jdbcType="TIMESTAMP" />
	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	<result column="type" property="type" jdbcType="INTEGER" />
	<result column="staff_id" property="staffId" jdbcType="INTEGER" />
	<result column="staff_email" property="staffEmail" jdbcType="VARCHAR" />
	<result column="staff_name" property="staffName" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Criteria_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
  <sql id="Update_By_Criteria_Where_Clause" >
    <where >
      <foreach collection="criteria.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
  
  
  <sql id="Base_Column_List" >
    `id`,`interview_id`,`person_id`,`ms_type`,`ms_time`,`status`,`notify_time`,`notify_end_time`,`create_time`,`type`,`staff_id`,`staff_email`,`staff_name`
  </sql>  
  
  <insert id="insert" parameterType="FeedbackHistory">
	<selectKey resultType="Integer" keyProperty="id" order="AFTER" > 
		select last_insert_id() as id 
	</selectKey> 
    insert into feedback_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="id != null" >
        	`id`,
    	</if>	
		<if test="interviewId != null" >
        	`interview_id`,
    	</if>	
		<if test="personId != null" >
        	`person_id`,
    	</if>	
		<if test="msType != null" >
        	`ms_type`,
    	</if>	
		<if test="msTime != null" >
        	`ms_time`,
    	</if>	
		<if test="status != null" >
        	`status`,
    	</if>	
		<if test="notifyTime != null" >
        	`notify_time`,
    	</if>	
		<if test="notifyEndTime != null" >
        	`notify_end_time`,
    	</if>	
		<if test="createTime != null" >
        	`create_time`,
    	</if>	
		<if test="type != null" >
        	`type`,
    	</if>	
		<if test="staffId != null" >
        	`staff_id`,
    	</if>	
		<if test="staffEmail != null" >
        	`staff_email`,
    	</if>	
		<if test="staffName != null" >
        	`staff_name`,
    	</if>	
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
		<if test="id != null" >
        	#{id,jdbcType=INTEGER},
    	</if>	
		<if test="interviewId != null" >
        	#{interviewId,jdbcType=INTEGER},
    	</if>	
		<if test="personId != null" >
        	#{personId,jdbcType=INTEGER},
    	</if>	
		<if test="msType != null" >
        	#{msType,jdbcType=INTEGER},
    	</if>	
		<if test="msTime != null" >
        	#{msTime,jdbcType=TIMESTAMP},
    	</if>	
		<if test="status != null" >
        	#{status,jdbcType=INTEGER},
    	</if>	
		<if test="notifyTime != null" >
        	#{notifyTime,jdbcType=TIMESTAMP},
    	</if>	
		<if test="notifyEndTime != null" >
        	#{notifyEndTime,jdbcType=TIMESTAMP},
    	</if>	
		<if test="createTime != null" >
        	#{createTime,jdbcType=TIMESTAMP},
    	</if>	
		<if test="type != null" >
        	#{type,jdbcType=INTEGER},
    	</if>	
		<if test="staffId != null" >
        	#{staffId,jdbcType=INTEGER},
    	</if>	
		<if test="staffEmail != null" >
        	#{staffEmail,jdbcType=VARCHAR},
    	</if>	
		<if test="staffName != null" >
        	#{staffName,jdbcType=VARCHAR},
    	</if>	
    </trim>
  </insert>

  <delete id="deleteById" parameterType="Integer">
    delete from feedback_history where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="delete" parameterType="com.demo.hr.entity.criteria.FeedbackHistoryCriteria">
    delete from feedback_history 
    <if test="_parameter != null" >
      <include refid="Criteria_Where_Clause" />
    </if>
  </delete>
 
  <update id="updateById" parameterType="FeedbackHistory">
    update feedback_history
    <set>
		<if test="interviewId != null" >
        	`interview_id` = #{interviewId,jdbcType=INTEGER},
    	</if>	
		<if test="personId != null" >
        	`person_id` = #{personId,jdbcType=INTEGER},
    	</if>	
		<if test="msType != null" >
        	`ms_type` = #{msType,jdbcType=INTEGER},
    	</if>	
		<if test="msTime != null" >
        	`ms_time` = #{msTime,jdbcType=TIMESTAMP},
    	</if>	
		<if test="status != null" >
        	`status` = #{status,jdbcType=INTEGER},
    	</if>	
		<if test="notifyTime != null" >
        	`notify_time` = #{notifyTime,jdbcType=TIMESTAMP},
    	</if>	
		<if test="notifyEndTime != null" >
        	`notify_end_time` = #{notifyEndTime,jdbcType=TIMESTAMP},
    	</if>	
		<if test="createTime != null" >
        	`create_time` = #{createTime,jdbcType=TIMESTAMP},
    	</if>	
		<if test="type != null" >
        	`type` = #{type,jdbcType=INTEGER},
    	</if>	
		<if test="staffId != null" >
        	`staff_id` = #{staffId,jdbcType=INTEGER},
    	</if>	
		<if test="staffEmail != null" >
        	`staff_email` = #{staffEmail,jdbcType=VARCHAR},
    	</if>	
		<if test="staffName != null" >
        	`staff_name` = #{staffName,jdbcType=VARCHAR},
    	</if>	
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
    
  <update id="update" parameterType="map">
    update feedback_history 
    <set>
		<if test="record.interviewId != null" >
        	`interview_id` = #{record.interviewId,jdbcType=INTEGER},
    	</if>	
		<if test="record.personId != null" >
        	`person_id` = #{record.personId,jdbcType=INTEGER},
    	</if>	
		<if test="record.msType != null" >
        	`ms_type` = #{record.msType,jdbcType=INTEGER},
    	</if>	
		<if test="record.msTime != null" >
        	`ms_time` = #{record.msTime,jdbcType=TIMESTAMP},
    	</if>	
		<if test="record.status != null" >
        	`status` = #{record.status,jdbcType=INTEGER},
    	</if>	
		<if test="record.notifyTime != null" >
        	`notify_time` = #{record.notifyTime,jdbcType=TIMESTAMP},
    	</if>	
		<if test="record.notifyEndTime != null" >
        	`notify_end_time` = #{record.notifyEndTime,jdbcType=TIMESTAMP},
    	</if>	
		<if test="record.createTime != null" >
        	`create_time` = #{record.createTime,jdbcType=TIMESTAMP},
    	</if>	
		<if test="record.type != null" >
        	`type` = #{record.type,jdbcType=INTEGER},
    	</if>	
		<if test="record.staffId != null" >
        	`staff_id` = #{record.staffId,jdbcType=INTEGER},
    	</if>	
		<if test="record.staffEmail != null" >
        	`staff_email` = #{record.staffEmail,jdbcType=VARCHAR},
    	</if>	
		<if test="record.staffName != null" >
        	`staff_name` = #{record.staffName,jdbcType=VARCHAR},
    	</if>	
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Criteria_Where_Clause" />
    </if>
  </update>
    
  <select id="count" parameterType="com.demo.hr.entity.criteria.FeedbackHistoryCriteria" resultType="java.lang.Integer">
    select count(*) from feedback_history 
    <if test="_parameter != null" >
      <include refid="Criteria_Where_Clause" />
    </if>
  </select>
  
  <select id="selectById" resultMap="BaseResultMap" parameterType="Integer">
    select 
    <include refid="Base_Column_List" />
    from feedback_history 
    where id = #{id,jdbcType=INTEGER}
  </select>
    
  <select id="select" resultMap="BaseResultMap" parameterType="com.demo.hr.entity.criteria.FeedbackHistoryCriteria">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from feedback_history 
    <if test="_parameter != null" >
      <include refid="Criteria_Where_Clause" />
    </if>
    <if test="sort != null" >
		<if test="sort == 'id'">
			order by `id` ${order}	
		</if>
		<if test="sort == 'interviewId'">
			order by `interview_id` ${order}	
		</if>
		<if test="sort == 'personId'">
			order by `person_id` ${order}	
		</if>
		<if test="sort == 'msType'">
			order by `ms_type` ${order}	
		</if>
		<if test="sort == 'msTime'">
			order by `ms_time` ${order}	
		</if>
		<if test="sort == 'status'">
			order by `status` ${order}	
		</if>
		<if test="sort == 'notifyTime'">
			order by `notify_time` ${order}	
		</if>
		<if test="sort == 'notifyEndTime'">
			order by `notify_end_time` ${order}	
		</if>
		<if test="sort == 'createTime'">
			order by `create_time` ${order}	
		</if>
		<if test="sort == 'type'">
			order by `type` ${order}	
		</if>
		<if test="sort == 'staffId'">
			order by `staff_id` ${order}	
		</if>
		<if test="sort == 'staffEmail'">
			order by `staff_email` ${order}	
		</if>
		<if test="sort == 'staffName'">
			order by `staff_name` ${order}	
		</if>
    </if>
  </select>  
  
</mapper>