<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=gb2312">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>

</style>

</head>
<body>
	<p>${hr_name}您好，${staff_name}对${person_name}的复试面试评价已经完成，评价结果为:${ms_result}</p>
</body>
</html>